<div class="results-graphic-inner component-inner" role="region" aria-label="{{_globals._components._graphic.ariaRegion}}">
    {{> component this}}
    <div class="results-graphic-widget component-widget">
      <img src="{{graphic}}" {{#if alt}} aria-label="{{alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
    </div>
</div>
